<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>P5_Quiz</h1>
    <p><a href = "/credits" > Autores </a></p>
    <p><a href = "/quizzes" > Quizzes </a></p>
  </body>
</html>
